@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Contoso Backend</h1>
    <p>Select a subscription to send a push notification.</p>

    <table>
        <tr>
            <td><strong>Channel Uri</strong></td>
            <td><strong>Send notification</strong></td>
        </tr>
        @foreach (var channel in Model.Channels)
        {
            <tr>
                <td>@channel.ChannelUri.Substring(0, 65)...</td>
                <td><button onclick="sendNotification('@channel.ChannelUri', '@channel.P256Dh', '@channel.Auth')">Send</button></td>
            </tr>
        }
    </table>

</div>

<script type="text/javascript">
    async function sendNotification(uri, p256dh, auth) {

        var subscription = {};
        subscription["channelUri"] = uri;
        subscription["p256dh"] = p256dh;
        subscription["auth"] = auth;

        await fetch('http://localhost:5000/api/push/notification', {
            method: 'post',
            headers: {
                'Content-type': 'application/json' },
            body: JSON.stringify(subscription)
        });
    }

</script>
